@page "/checkout"
@using LaborationBlazorShop.Client.DTOs
@using LaborationBlazorShop.Client.Services
@inject UserService userService
@inject UserManager<ApplicationUser> userManager
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider stateProvider
@inject CurrencyService currencyService
@inject CartService cartService
@inject IDataService dataService
@rendermode InteractiveServer
@attribute [StreamRendering]
@attribute [Authorize]

<h3 class="text-danger">Checkout</h3>
<br />
<h4 class="text-warning">Total: @String.Format("{0:F2}", CountTotal(userService.ProductsToCheckout)) @currencyService.SelectedCurrency</h4>

<Navbar />
<span>
    <form>
        <fieldset class="bg-primary">
            <legend class="bg-primary text-light mt-3"><b> Order Details </b></legend>
            <input @bind="@userService.Name" type="text" name="Name" id="name" placeholder="Name" required />
            <input @bind="@userService.Address" type="text" name="Address" id="address" placeholder="Adress" required />
        </fieldset>
    </form>
    <button @onclick="CheckIfUserHasProductsAndData" class="btn btn-primary">Confirm order</button>
</span>

<br />
<br />

@foreach (var group in userService.ProductsToCheckout.GroupBy(item => item.Id))
{
    var productId = group.Key;
    var productInfo = userService.ProductsToCheckout.First(item => item.Id == productId);
    var quantity = group.Count();
    <CheckoutProduct ProductInfo="productInfo" Quantity="quantity" ExchangeRate="currencyService.ExchangeRate" SelectedCurrency="currencyService.SelectedCurrency" OnRemoveFromCart="async () => RemoveFromCart(productInfo)" />
    <br />
}

@code 
{
    private string Name = string.Empty;

    private string Address = string.Empty;

    private ApplicationUser UserProducts;

    private List<ProductDTO> OrderedProducts = new();

    public decimal CountTotal(List<Product> productsToCheckout)
    {
        decimal sum = 0;

        foreach (Product product in userService.ProductsToCheckout)
        {
            var currentPrice = product.Price * currencyService.ExchangeRate;
            sum += currentPrice;
        }
        return sum;
    }

    private async Task RemoveFromCart(Product product)
    {
        await cartService.RemoveSingleProductFromCart(product, UserProducts);
        StateHasChanged();
    }

    private async Task CheckIfUserHasProductsAndData()
    {
        var products = userService.ProductsToCheckout;

        if ((userService.Name == string.Empty || userService.Address == string.Empty) || products.Count() == 0)
        {
            navigationManager.NavigateTo("/failedcheckoutform");
        }

        else
        {
            navigationManager.NavigateTo("/confirmationpage");
            await cartService.EmptyCartAfterPurchase(UserProducts);
        }
    }

    private void OnStateChange() => InvokeAsync(() => StateHasChanged());

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currencyService.OnStateChange += OnStateChange;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await stateProvider.GetAuthenticationStateAsync();
        var user = await userManager.GetUserAsync(authState.User);
        UserProducts = await userService.GetUserProducts(user);
        await userService.GetShoppingCartProducts(user);
        Name = await dataService.GetNameAsync();
        Address = await dataService.GetAddressAsync();
        OrderedProducts = await dataService.GetOrderedProductsAsync();
    }
}
