@page "/failedcheckoutform"
@inject NavigationManager navigationManager
@rendermode InteractiveServer
@attribute [StreamRendering]

<h3>Please put products in your cart and enter a name and address</h3>

<button class="btn btn-primary" @onclick="RedirectToHomePage">Go back to home page</button>

@code {

    private void RedirectToHomePage()
    {
        navigationManager.NavigateTo("/");
    }
}

