@page "/productlist"
@page "/productlist/{ProductId:int}"
@inject ProductService productService
@inject NavigationManager navigationManager
@inject CurrencyService currencyService
@inject CartService cartService
@inject HttpClient httpClient
@inject ApplicationDbContext db
@inject AuthenticationStateProvider authenticationStateProvider
@inject UserManager<ApplicationUser> userManager
@rendermode InteractiveServer
@attribute [StreamRendering]
@* @attribute [Authorize] *@

<Navbar />

<AuthorizeView>
    <Authorized>
        <p>Shopping Cart:</p>

        <div>
            @foreach (var product in cartService.ShoppingCart)
            {
                <p>@product.Title</p>
            }
        </div>

        @if (Products == null)
        {
            <p>Loading...</p>
        }

        else
        {
            if (ProductId is null)
            {
                <h3>Products</h3>

                <ul class="list-unstyled">
                    @foreach (var product in Products)
                    {
                        <ViewProducts ProductInfo="product" ExchangeRate="currencyService.ExchangeRate" SelectedCurrency="currencyService.SelectedCurrency" OnAddToCart="async () => AddProduct(product)" />
                    }
                </ul>
            }
            else
            {

                <SingleProduct ProductInfo="SingleProduct" ExchangeRate="currencyService.ExchangeRate" SelectedCurrency="currencyService.SelectedCurrency" OnAddToCart="async () => AddProduct(SingleProduct)" />
            }
        }
    </Authorized>
    <NotAuthorized>
        <p>Shopping Cart:</p>
        <div>
            @foreach (var product in TemporaryShoppingCart)
            {
                <p>@product.Title</p>
            }

            @if (Products == null)
            {
                <p>Loading...</p>
            }

            else
            {
                if (ProductId is null)
                {
                    <h3>Products</h3>

                    <ul class="list-unstyled">
                        @foreach (var product in Products)
                        {
                            <ViewProducts ProductInfo="product" ExchangeRate="currencyService.ExchangeRate" SelectedCurrency="currencyService.SelectedCurrency" OnAddToCart=" () => RedirectToLogin()" />
                        }
                    </ul>
                }
                else
                {
                    <SingleProduct ProductInfo="SingleProduct" ExchangeRate="currencyService.ExchangeRate" SelectedCurrency="currencyService.SelectedCurrency" OnAddToCart="() => RedirectToLogin()" />
                }
            }
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {

    [Parameter]
    public int? ProductId { get; set; }

    private List<Product> Products = new();

    private Product SingleProduct = new();

    public List<Product> TemporaryShoppingCart = new();

    public string? UserId;

    public async void AddProduct(Product product)
    {
        await cartService.AddToCart(product, UserId);
        StateHasChanged();
    }

    private void RedirectToLogin()
    {
        navigationManager.NavigateTo("/login.razor");
    }

    private void OnStateChange()
    {
        InvokeAsync(() => StateHasChanged());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currencyService.OnStateChange += OnStateChange;

            var authState = await authenticationStateProvider.GetAuthenticationStateAsync();

            if (authState.User.Identity.IsAuthenticated)
            {
                UserId = authState.User.Claims.Where(c => c.Type == ClaimTypes.NameIdentifier).First().Value;
            }

            if (ProductId is null)
            {
                Products = await productService.GetAllProducts();
            }
            else
            {
                var result = await productService.GetProductById((int)ProductId);
                if (result is not null)
                {
                    SingleProduct = result;
                }
            }
            StateHasChanged();
        }
    } 
}
